.w3-teal {
    display: none;
}
.fun {
    display: none;
}

@include respond(tab-mini) {
    .fun {
        display: block;
    }
    .w3-teal {
        display: block;
    }
    .fun1 {
        display: none;
    }
}

.display {
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    gap: 1rem;
}

.para {
    font-size: 0.7rem;
    margin-top: 0.2rem;

    @include respond(tab-land) {
        font-size: 0.6rem;
    }
}

.para1 {
    font-size: 0.7rem;
    margin-top: 0.2rem;

    @include respond(tab-land) {
        font-size: 0.6rem;
    }
}

.logo {
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 3rem;
    border-radius: 50%;
}

.icons {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    font-size: 1.3rem;
}

.icons ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
    color: #333;
}

.icons ul li {
    cursor: pointer;
}

.icons ul li:hover{
    color: black;
}

.icons .home {
    cursor: pointer;
    padding: 1rem;
    background-color: $color-purple-light;
    color: black;
}

.queries {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

/* function Section */

.function-container {
    margin-left: -2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.function-header {
    cursor: pointer;
    font-size: 0.85rem;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.function1-header {
    cursor: pointer;
    min-width: 12rem;
    font-size: 0.85rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    @include respond(big-desktop) {
        min-width: 20rem;
    }
}
.arrow {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.arrow.expanded {
    transform: rotate(90deg);
}

.function-content {
    margin-bottom: 0.5rem;
    display: none;
    padding: 0rem 1.5rem;
    list-style: none;
}

.function-content li a {
    font-size: 0.8rem;
    color:#333;
    text-decoration: none;
}

.function-content li {
    padding: 0.2rem;
}

/* function Section */

.function1-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.function1-header {
    cursor: pointer;
    font-size: 0.85rem;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.arrow1 {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.arrow.expanded {
    transform: rotate(90deg);
}

.function1-content {
    margin-bottom: 0.5rem;
    display: none;
    padding: 0rem 1.5rem;
    list-style: none;
}

.function1-content li a {
    font-size: 0.8rem;
    color:#333;
    text-decoration: none;
}

.function1-content li {
    padding: 0.2rem;
}